<div class="row">
  <div class="col-sm-12">

    <nav class="nav">
      <input class="form-control me-2 search" type="search" placeholder="Type here..." aria-label="Search">

      <a><i class="fa fa-user user-i" aria-hidden="true"></i>
          <span class="signin-text">Sign In</span>
      </a>
      <a><i class="fa fa-cog setting setting-i" aria-hidden="true"></i></a>
      <a><i class="fa fa-bell notification notification-i" aria-hidden="true"></i></a>
    </nav>

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Employees</li>
        <li class="breadcrumb-item">People</li>
      </ol>
    </nav>

  <p class="people-text">Tom Cruise</p>

	<div class="box-wrapper">
		<div id="box3">

			<div id="box4">
        <div class="profile-sections">
          <ul><button class="but"><i class="fa fa-rocket"></i>Basic Info</button></ul>
          <ul><button class="but"><i class="fa fa-file"></i>Salary Info</button></ul>
          <ul><button class="but"><i class="fa fa-cube"></i>Job Description</button></ul>
          <ul><button class="but"><i class="fa fa-user"></i>KPIs</button></ul>
          <ul><button class="but"><i class="fa fa-user"></i>Appraisals</button></ul>
          <ul><button class="but"><i class="fa fa-bell"></i>Leave</button></ul>
          <ul><button class="but"><i class="fa fa-wrench"></i>Employment Timeline</button></ul>
          <ul><button class="but"><i class="fa fa-circle-xmark"></i>Payroll History</button></ul>
        </div>
			</div>

			<div class="middle-column">
				<div id="box5">
					<div id="box8">
            <td><img src="assets/Images/Image.png" class="pro-pic"></td>
            <td>
              <li class="name">Alec Thompson</li>
              <li class="role">CEO / Co-Founder</li>
            </td>
          </div>
				</div>

				<div id="box6">
          <h3 class="basic">Basic Info</h3>
					<table class="info" *ngIf="!submitted">
            <tr>
              <td class="txt">First Name</td>
              <td class="txt">Last Name</td>
            </tr>
            <tr>
              <td><input type="text" id="first" required [(ngModel)]="details.first" name="first" class="inp" placeholder="eg: Michael"/></td>
              <td><input type="text" id="last" required [(ngModel)]="details.last" name="last" class="inp" placeholder="eg: Jackson"/></td>
            </tr>
            <tr>
              <td class="txt">I'm</td>
              <td class="txt">Birth Date</td>
            </tr>
            <tr>
              <td><select name="type" id="im" [ngModelOptions]="{standalone: true}" editable="true" [(ngModel)]="details.im" name="im" class="inp">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
              <!--<input type="text" id="im" required [(ngModel)]="details.im" name="im" class="inp" placeholder="eg: Male"/>--></select></td>
              <td><input type="date" class="inp" id="birth" required [(ngModel)]="details.birth" name="birth"/></td>
            </tr>
            <tr>
              <td class="txt">Email Address</td>
              <td class="txt">Confirmation Email</td>
            </tr>
            <tr>
              <td><input type="email" id="email" type="text" class="inp" required [(ngModel)]="details.email" name="email" placeholder="eg: example@address.com"/></td>
              <td><input type="email" id="confirm" required [(ngModel)]="details.confirm" name="confirm" class="inp" placeholder="eg: example@address.com"/></td>
            </tr>
            <tr>
              <td class="txt">Your Location</td>
              <td class="txt">Phone Number</td>
            </tr>
            <tr>
              <td><input id="location" type="text" required [(ngModel)]="details.location" name="location" class="inp" placeholder="eg: Bucharest"/></td>
              <td><input id="pno" type="text" required [(ngModel)]="details.pno" name="pno" class="inp" placeholder="+04 941 538 024"/></td>
            </tr>
            <tr>
              <td class="txt">Language</td>
              <td class="txt">Skills</td>
            </tr>
            <tr>
              <td><select name="lang" id="lang" [ngModelOptions]="{standalone: true}" editable="true" [(ngModel)]="details.lang" name="lang" class="inp">
                <option value="English">English</option>
                <option value="Sinhala">Sinhala</option>
                <option value="Tamil">Tamil</option>
                <option value="French">French</option>
              </select></td>
              <td></td>
            </tr>
            <button (click)="saveDetails()" class="btn btn-success">Submit</button>
          </table>

          <div *ngIf="submitted">
            <h4>Account updated!</h4>
            <button class="btn btn-success" (click)="newDetails()">Edit</button>
          </div>

				</div>

			</div>

		</div>
	</div>
