
.card{

    background: #FFFFFF;
    box-shadow: none;
    border-radius: 16px;
    width: 100%;

}

.people-text{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    color: #2D3748;
    margin-left: 30px;
}

.breadcrumb{
    margin-top: 31px;
    margin-bottom: 5.5px;
    margin-left: 30px;
}

.table-d{
    margin-top: 173px;
}

.tr-d{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 150%;
    color: #A0AEC0;
}

.name-d{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    color: #2D3748;
}

.function-d{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    color: #718096;
    margin-top: 20.5px;
}

.review-d{
    flex: none;
    order: 1;
    flex-grow: 0;
    color: #718096;
    width: 50px;
    height: 21px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
}

.email-d{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #718096;
}

.edate-d{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #718096;
}

.id-d{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #718096;
}

/* User Images */


.user{
    position: relative;
    width: 45.5px;
    height: 45.5px;
    border-radius: 16px;
}

/* Review Status Dot */
.status-text{
    margin-left: 10px;
}
.status-dot-positive{
    height: 7px;
    width: 7px;
    background: #4FD1C5;
    border-radius: 5px;
    position: absolute;
    margin-top: 7px;
}

.status-dot-negative{
    height: 7px;
    width: 7px;
    background: #E53E3E;
    border-radius: 5px;
    position: absolute;
    margin-top: 7px;
}

.status-dot-neutral{
    height: 7px;
    width: 7px;
    background: #2D3748;
    border-radius: 5px;
    position: absolute;
    margin-top: 7px;
}

.btn-active{
    background: #FFFFFF;
    width: 134.5px;
    margin-bottom: 21px;
    border-radius: 12px;
    padding: 0px, 8px, 0px, 8px;
    box-shadow: 0px 2px 5.5px rgba(0, 0, 0, 0.06);
    margin-right: 22.5px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 150%;
    color: #2D3748;
}

.btn-deactive{
    margin-bottom: 31px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 150%;
    
}


li {
    list-style-type: none;
}



