<div class="row">
    <div class="col-sm-12">
  
      <div class="navbar-main">
          <app-navbar></app-navbar>
      </div>
      <div>
          <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Employees</li>
                <li class="breadcrumb-item">People</li>
              </ol>
            </nav>
  
          <p class="people-text">People</p>
          <button type="button" class="btn btn-active">ACTIVE</button>
          <button type="button" class="btn btn-deactive">DEACTIVATED</button>
      </div>
      <div class="card text-center">
        <div class="card-body">
          <table class="table table-hover">
            <thead>
              <tr class="tr-d">
                <th scope="col">NAME</th>
                <th scope="col">FUNCTION</th>
                <th scope="col">REVIEW</th>
                <th scope="col">EMAIL</th>
                <th scope="col">EMPLOYED</th>
                <th scope="col">ID</th>
              </tr>
            </thead>
            <tbody>
              <tr class="t-data">
                <td class="name-d">
                  <div class="row">
                    <div class="col-2 mt-7">
                      <img class="user" src="../../../assets/Images/name1.png" />
                    </div>
                    <div class="col-10">Esthera Jackson</div>
                  </div>
                </td>
                <td class="function-d">Manager</td>
                <td class="review-d">
                      <div class="status-dot-positive"></div>
                      <p class="status-text">Positive</p>
                </td>
                <td class="email-d">esthera@simmmple.com</td>
                <td class="edate-d">14/06/21</td>
                <td class="id-d">32124</td>
              </tr>
              <tr class="t-data">
                <td class="name-d">
                  <div class="row">
                    <div class="col-2 mt-7">
                      <img class="user" src="../../../assets/Images/name2.png" />
                    </div>
                    <div class="col-10">Alexa Liras</div>
                  </div>
                </td>
                <td class="function-d">Programmer</td>
                <td class="review-d">
                    <div class="status-dot-positive"></div>
                    <p class="status-text">Positive</p> 
                </td>
                <td class="email-d">esthera@simmmple.com</td>
                <td class="edate-d">14/06/21</td>
                <td class="id-d">32124</td>
              </tr>
              <tr class="t-data">
                <td class="name-d">
                  <div class="row">
                    <div class="col-2 mt-7">
                      <img class="user" src="../../../assets/Images/name3.png" />
                    </div>
                    <div class="col-10">Laurent Michael</div>
                  </div>
                </td>
                <td class="function-d">Executive</td>
                <td class="review-d">
                  <div class="status-dot-neutral"></div>
                  <p class="status-text">Neutral</p>
                </td>
                <td class="email-d">esthera@simmmple.com</td>
                <td class="edate-d">14/06/21</td>
                <td class="id-d">32124</td>
              </tr>
              <tr class="t-data">
                <td class="name-d">
                  <div class="row">
                    <div class="col-2 mt-7">
                      <img class="user" src="../../../assets/Images/name4.png" />
                    </div>
                    <div class="col-10">Freduardo Hill</div>
                  </div>
                </td>
                <td class="function-d">Manager</td>
                <td class="review-d">
                      <div class="status-dot-positive"></div>
                      <p class="status-text">Positive</p>
                </td>
                <td class="email-d">esthera@simmmple.com</td>
                <td class="edate-d">14/06/21</td>
                <td class="id-d">32124</td>
              </tr>
              <tr class="t-data">
                <td class="name-d">
                  <div class="row">
                    <div class="col-2 mt-7">
                      <img class="user" src="../../../assets/Images/name5.png" />
                    </div>
                    <div class="col-10">Daniel Thomas</div>
                  </div>
                </td>
                <td class="function-d">Programmer</td>
                <td class="review-d">
                  <div class="status-dot-negative"></div>
                  <p class="status-text">Negative</p>
                </td>
                <td class="email-d">esthera@simmmple.com</td>
                <td class="edate-d">14/06/21</td>
                <td class="id-d">32124</td>
              </tr>
              <tr class="t-data">
                <td class="name-d">
                  <div class="row">
                    <div class="col-2 mt-7">
                      <img class="user" src="../../../assets/Images/name6.png" />
                    </div>
                    <div class="col-10">Mark Wilson</div>
                  </div>
                </td>
                <td class="function-d">Designer</td>
                <td class="review-d">
                  <div class="status-dot-positive"></div>
                  <p class="status-text">Positive</p>
                </td>
                <td class="email-d">esthera@simmmple.com</td>
                <td class="edate-d">14/06/21</td>
                <td class="id-d">32124</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  