
.breadcrumb{
    margin-top: 31px;
    margin-bottom: 5.5px;
    margin-left: 30px;
}

.people-text{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    color: #2D3748;
    margin-left: 30px;
}


/* Cards Styles */

.card-data{
    border-radius: 20px;
}

.card-number{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
}

.card-description{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    color: #A0AEC0;
}

.card-icon{
    background: #FFFFFF;
    border-radius: 12px;
    height: 50px;
    width: 50px;
}



/* Review Card */

.review-card{
    height: 340px;

}

.review-range-text{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 140%;
    color: #A0AEC0;
    margin-top: 15px;
}

.progress-1{
    height: 5px;
}

.positive-progress-bar{
    background:#21D4FD;
}

.neutral-progress-bar{
    background: #151928;
}

.negative-progress-bar{
    background: #E53E3E;
}

.review-bottom{
    margin-top:50px;
}

.btn-review{
    background:linear-gradient(81.62deg, #313860 2.25%, #151928 79.87%);
    float: right;
    color: #FFFFFF;
    padding: 0px 8px;
    align-items: center;
    height: 35px;
    width: 134.5px;


    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 150%;

}

.review-text{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #A0AEC0;
    /* margin-left: 21px; */
    float: left;
}


/* Table Styles */

.tr-d{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 150%;
    color: #A0AEC0;
}

.name-d{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    color: #2D3748;
}

.function-d{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    color: #718096;
    margin-top: 20.5px;
}

.review-d{
    flex: none;
    order: 1;
    flex-grow: 0;
    color: #718096;
    width: 50px;
    height: 21px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
}

.email-d{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #718096;
}

.edate-d{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #718096;
}

.id-d{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #718096;
}

/* User Images */


.user{
    position: relative;
    width: 45.5px;
    height: 45.5px;
    border-radius: 16px;
}

/* Review Status Dot */
.status-text{
    margin-left: 10px;
}
.status-dot-positive{
    height: 7px;
    width: 7px;
    background: #4FD1C5;
    border-radius: 5px;
    position: absolute;
    margin-top: 7px;
}

.status-dot-negative{
    height: 7px;
    width: 7px;
    background: #E53E3E;
    border-radius: 5px;
    position: absolute;
    margin-top: 7px;
}

.status-dot-neutral{
    height: 7px;
    width: 7px;
    background: #2D3748;
    border-radius: 5px;
    position: absolute;
    margin-top: 7px;
}

.btn-active{
    background: #FFFFFF;
    width: 134.5px;
    margin-bottom: 21px;
    border-radius: 12px;
    padding: 0px, 8px, 0px, 8px;
    box-shadow: 0px 2px 5.5px rgba(0, 0, 0, 0.06);
    margin-right: 22.5px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 150%;
    color: #2D3748;
}

.btn-deactive{
    margin-bottom: 31px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 150%;
    
}


li {
    list-style-type: none;
}


