
.breadcrumb{
    margin-top: 31px;
    margin-bottom: 5.5px;
    margin-left: 30px;
}

.people-text{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    color: #2D3748;
    margin-left: 30px;
}


#chart {
    max-width: 650px;
    margin: 35px auto;
  }
