<div class="row">
    <div class="col-sm-12">
        <div class="navbar-main">
            <app-navbar></app-navbar>
        </div>
        <div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item active" aria-current="page">Pages</li>
                  <li class="breadcrumb-item">Charts</li>
                </ol>
              </nav>
            <p class="people-text">Charts</p>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div id="chart">
                    <!-- <apx-chart [series]="series" [chart]="chart" [title]="title"></apx-chart> -->

                    <!-- <apx-chart
                      [series]="chartOptions.series"
                      [chart]="chartOptions.chart"
                      [dataLabels]="chartOptions.dataLabels"
                      [plotOptions]="chartOptions.plotOptions"
                      [xaxis]="chartOptions.xaxis"
                    ></apx-chart> -->
                  </div>
            </div>
            <div class="col-md-6">

            </div>
        </div>

    </div>
</div>
