.breadcrumb{
    margin-top: 31px;
    margin-bottom: 5.5px;
    margin-left: 30px;
}

.people-text{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    color: #2D3748;
    margin-left: 30px;
}

.card-d{
    margin-right: 10px;
    /* width: 400px; */
    margin-left: 20px;
}

.card-text{
    font-family: 'Helvetica';
    font-style: normal;
    font-size: 14px;
    color: #48BB78;
}

.card-v{
    color: #2D3748;
    font-weight: 700;
    line-height: 140%;
}

.card-icon{
    background:var(--pinkCard);
    border-radius: 12px;
    height: 50px;
    width: 50px;
    float: right;
    /* margin-bottom: 1.5px; */
    margin-top: -60.5px;
}

.chart-img{
    margin-left: 16px;
    margin-top: 16px;
    margin-right: 10px;
}

.chart-h{
    font-family: 'Helvetica';
    font-style: normal;
    font-size: 18px;
    color: #2D3748;
    margin-left: 21px;
    margin-top: 10px;
    font-weight: 700;
}

.chart-t{
    margin-left: 21.5px;
    font-family: 'Helvetica';
    font-style: normal;
    font-size: 14px;
    color: #48BB78;
    margin-top: 6px;

}

.def-img{
    width: 500px;
    height: 550px;
}


.table-h{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    color: #2D3748;
    margin-left: 21px;
    margin-top: 28px;
}

.tr-d{
    font-family: 'Helvetica';
    font-style: normal;
    color: #A0AEC0;
    font-size: 10px;

}

.t-data{
    font-family: 'Helvetica';
    font-style: normal;
    font-size: 14px;
    color: #2D3748;
    font-weight: 700;

}


.sales-o-h{
    font-family: 'Helvetica';
    font-style: normal;
    font-size: 18px;
    color: #2D3748;
    font-weight: 700;
    line-height: 140%;
    margin-top: 28px;
    margin-left: 21px;

}

.sales-o-t{
    color: #48BB78;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    margin-left: 21.5px;
}

.sales-o-img{
    margin-left: 21.5px;
    margin-right: 19px;
    margin-bottom: 29px;
}