<div class="row">
    <div class="col-sm-12">
        <div class="navbar-main">
            <app-navbar></app-navbar>
        </div>
        <div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item active" aria-current="page">Pages</li>
                  <li class="breadcrumb-item">Default</li>
                </ol>
              </nav>
            <p class="people-text">Default</p>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="card card-d" style="width: 18rem;">
                        <div class="card-body">
                          <h6 class="card-subtitle mb-2 text-muted">Today's Money</h6>
                          <p class="card-text"><b class="card-v">$53,000</b> +55%</p>
                          <span style="font-size: 2em; color:#ffffff; text-align:center;">
                            <i class="fa fa-shopping-cart fa-sm card-icon" aria-hidden="true"></i>
                        </span>
                        </div>
                      </div>
                      <div class="card card-d" style="width: 18rem;">
                        <div class="card-body">
                          <h6 class="card-subtitle mb-2 text-muted">New Clients</h6>
                          <p class="card-text"><b class="card-v">+3,052</b> -14%</p>
                          <span style="font-size: 2em; color:#ffffff; text-align:center;">
                            <i class="fa fa-file-text fa-sm card-icon" aria-hidden="true"></i>
                        </span>
                        </div>
                      </div>
                </div>
                <div class="row">
                    <div class="card card-d" style="width: 18rem;">
                        <div class="card-body">
                          <h6 class="card-subtitle mb-2 text-muted">Today's Users</h6>
                          <p class="card-text"><b class="card-v">2300</b> +5%</p>
                          <span style="font-size: 2em; color:#ffffff; text-align:center;">
                            <i class="fa fa-globe fa-sm card-icon" aria-hidden="true"></i>
                        </span>
                        </div>
                      </div>
                      <div class="card card-d" style="width: 18rem;">
                        <div class="card-body">
                          <h6 class="card-subtitle mb-2 text-muted">Total Sales</h6>
                          <p class="card-text"><b class="card-v">$173,000</b> +8%</p>
                          <span style="font-size: 2em; color:#ffffff; text-align:center;">
                            <i class="fa fa-shopping-cart fa-sm card-icon" aria-hidden="true"></i>
                        </span>
                        </div>
                      </div>
                </div>

                <div class="card country-table">
                    <p class="table-h">Sales by Country</p>
                    <table class="table">
                        <thead>
                          <tr class="tr-d">
                            <th scope="col">COUNTRY: </th>
                            <th scope="col">SALES:</th>
                            <th scope="col">VALUE:</th>
                            <th scope="col">BOUNCE:</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="t-data">
                            <td>🇺🇸 United States</td>
                            <td>3900</td>
                            <td>$214,000</td>
                            <td>29,9%</td>
                          </tr>
                          <tr class="t-data">
                            <td>🇩🇪  Germany</td>
                            <td>2500</td>
                            <td>$446,700</td>
                            <td>40,22%</td>
                          </tr>
                          <tr class="t-data"> 
                            <td>🇬🇧 United Kingdom</td>
                            <td>2500</td>
                            <td>$121,900</td>
                            <td>19,22%</td>
                          </tr>
                          <tr class="t-data">
                            <td>🇧🇷 Brazil</td>
                            <td>2500</td>
                            <td>$52,100</td>
                            <td>39,22%</td>
                          </tr>
                        </tbody>
                      </table>
                </div>

                <div class="a-users">
                    <div class="card">
                        <div class="image">
                            <img class="chart-img" src="../../../assets/graph.png">
                        </div>
                        <p class="chart-h">Active Users</p>
                        <p class="chart-t">(+23) than last week</p>
                        
                        <div class="row">
                            <div class="col">
                                <span style="font-size: 2em; color:#ffffff; text-align:center;">
                                    <i class="fa fa-file-text fa-sm card-icon" aria-hidden="true"></i>
                                </span>
                                <p>Users</p>
                                <p>32,984</p>

                            </div>
                            <div class="col">
                                <span style="font-size: 2em; color:#ffffff; text-align:center;">
                                    <i class="fa fa-rocket fa-sm card-icon" aria-hidden="true"></i>
                                </span>
                                <p>Clicks</p>
                                <p>32,984</p>

                            </div>
                            <div class="col">
                                <span style="font-size: 2em; color:#ffffff; text-align:center;">
                                    <i class="fa fa-shopping-cart fa-sm card-icon" aria-hidden="true"></i>
                                </span>
                                <p>Sales</p>
                                <p>32,984</p>

                            </div>
                            <div class="col">
                                <span style="font-size: 2em; color:#ffffff; text-align:center;">
                                    <i class="fa fa-file-text fa-sm card-icon" aria-hidden="true"></i>
                                </span>
                                <p>Items</p>
                                <p>32,984</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <img class="def-img" src="../../../assets/default.png">
                <div class="card">
                    <p class="sales-o-h">Sales Overview</p>
                    <p class="sales-o-t">(+5) more in 2021</p>
                    <img  class="sales-o-img" src="../../../assets/d-graph1.png">
                </div>
            </div>

            </div>
        </div>
    </div>
