/*Navbar css */
.nav{
  margin-top: 2.5px;
  float: right;
  color: #718096;
}

.search{
  width: 199px;
  float: right;
  margin-top: -3px;
  background: #FFFFFF;
  border: 0.5px solid #E2E8F0;
  border-radius: 8px;
  color: #A0AEC0

}

.user-i{
  margin-right: 5.15px;
  margin-left: 19.12px;
}

.signin-text{
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  align-items: center;
  margin-right: 5.75px;
}

.setting-i{
  margin-left: 5.75px;
  margin-right: 19.25px;
}

.notification-i{
  margin-right: 49px;
}

.people-text{
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 40%;
  color: #2D3748;
}

/* box css */
.box-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#box3 {
  padding: 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  border: none;
}

#box4 {
  flex-grow: 1;
  border-radius: 16px;
  height: 408px;
  background-color: #FFFFFF;
}

.profile-sections {
  text-align: left;
  margin-top: 40px;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
}

ul {
  list-style: none;
}

.but {
  width: 153px;
  height: 18px;

  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  /* identical to box height, or 18px */

  display: flex;
  align-items: center;

  /* Gray/Gray-500 */
  color: #000;
  background-color: #FFFFFF;
  border: none;
}

.but i {
  margin-right: 10px;
  color: #000;
}

#box5 {
  flex-grow: 1;
  border-radius: 16px;
  height: 113px;
  background-color: #FFFFFF;
}

#box8 {
  flex-grow: 1;
  border-radius: 16px;
  height: 80px;
  width: 80px;
  background-color: #000;
  margin-top: 30px;
  margin-left: 20px;
}

.pro-pic {
  text-align: left;
  width: 88px;
  height: 88px;
}

.name {
  margin-left: 20px;
  width: 200px;
  font-weight: 700;
  font-size: 18px;
  list-style: none;
}

.role {
  margin-left: 20px;
  width: 155.5px;
  list-style: none;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #718096;
}

#box6 {
  flex-grow: 1;
  border-radius: 16px;
  height: 559px;
  background-color: #FFFFFF;
}

.middle-column {
  flex-grow: 3;
  display: flex;
  flex-direction: column;
}

.middle-column div {
  flex-grow: 1;
  margin: 0 8px;
}

.middle-column div+div {
  margin-top: 8px
}

/* form */
.basic {
  text-align: left;
  margin-top: 30px;
  margin-left: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 60px;
}

.info {
  width: 90%;
  margin-left: 20px;
  margin-top: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 80px;
}

td {
  text-align: left;
}

.txt {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 140%;
  color: #2D3748;
}

.info input[type="text"],
.info input[type="date"],
.info input[type="email"],
.info select {
  width: 90%;
  height: 40px;
  background: #FFFFFF;
  border: 0.5px solid #E2E8F0;
  border-radius: 8px;
  font-size: 12px;
  color: #A0AEC0;
  padding-left: 10px;
}

@media screen and (max-width: 768px) {

}
