.breadcrumb{
    margin-top: 31px;
    margin-bottom: 5.5px;
    margin-left: 30px;
}

.people-text{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    color: #2D3748;
    margin-left: 30px;
}


/* Alert Styles */
.alert-text{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    color: #2D3748;
    margin-left: 30px;
}

.card-title{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    color: #2D3748;
}

.alert{
    border-radius: 8px;
}


.svg-icon{
    height: 18px;
    width: 18px;

}

.card-title{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    color: #2D3748;
}

.l-alerts{
    align-items: center;
}


.alert1{
    background:var(--redCard);
}

.alert2{
    background:var(--orangeCard);
}

.alert3{
    background:var(--blueCard);
}

.alert4{
    background:var(--greenCard);
}

.solid-text{
    font-family: 'Helvetica';
    font-style: normal;
    color: #FFFFFF;
}

.subtle-text{
    color: #000000;
    font-family: 'Helvetica';
    font-style: normal;
}